-c requirements.txt

# REPL
ipython
ipdb

# Code style
black
isort
seed-isort-config
wemake-python-styleguide
pylint

# Type checking
mypy

# Testing
pytest
pytest-sugar

# Documentation
sphinx
sphinx-rtd-theme
