-c requirements.txt

# REPL
ipython
ipdb

# Code style
black
isort

# Linting
flake8
flake8-bugbear
flake8-logging-format
pydocstyle

# Type checking
mypy

# Testing
pytest
pytest-sugar

# Documentation
sphinx
sphinx-rtd-theme
